In [158]:
import pandas as pd
from math import sqrt, pi, exp

data = pd.read_csv("./spambase/spambase.data", delimiter=",", header=None)

spam = data.iloc[:1813]
not_spam = data.iloc[1813:]
not_spam

# columns, rows
# not_spam[0][1813]

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
1813,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00,...,0.022,0.022,0.019,0.022,0.022,0.022,3.482,5,5902,0
1814,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.85,...,0.299,0.000,0.000,0.149,0.000,0.000,1.040,2,26,0
1815,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00,...,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1,3,0
1816,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00,...,0.000,0.131,0.000,0.262,0.000,0.000,1.625,7,65,0
1817,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00,...,0.000,0.104,0.324,0.000,0.000,0.011,4.411,28,1866,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.0,0.62,0.0,0.00,0.31,0.0,0.0,0.0,0.00,...,0.000,0.232,0.000,0.000,0.000,0.000,1.142,3,88,0
4597,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00,...,0.000,0.000,0.000,0.353,0.000,0.000,1.555,4,14,0
4598,0.30,0.0,0.30,0.0,0.00,0.00,0.0,0.0,0.0,0.00,...,0.102,0.718,0.000,0.000,0.000,0.000,1.404,6,118,0
4599,0.96,0.0,0.00,0.0,0.32,0.00,0.0,0.0,0.0,0.00,...,0.000,0.057,0.000,0.000,0.000,0.000,1.147,5,78,0
4600,0.00,0.0,0.65,0.0,0.00,0.00,0.0,0.0,0.0,0.00,...,0.000,0.000,0.000,0.125,0.000,0.000,1.250,5,40,0

In [43]:
# getting base rate

def mean(listNum):
    return sum(listNum)/float(len(listNum))

def std_deviation(listNum):
    avg = mean(listNum)
    variance = sum([(x-avg)**2 for x in listNum]) / float(len(listNum)-1)
    
    return math.sqrt(variance)

std_deviation([1,2,3,4])
mean([1,2,3,4])

2.5

In [46]:
for col in data:
    if col!=57:
        print(data[col])
#         for val in data[col]:
#             print(val)

0       0.00
1       0.21
2       0.06
3       0.00
4       0.00
        ...
4596    0.31
4597    0.00
4598    0.30
4599    0.96
4600    0.00
Name: 0, Length: 4601, dtype: float64
0       0.64
1       0.28
2       0.00
3       0.00
4       0.00
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 1, Length: 4601, dtype: float64
0       0.64
1       0.50
2       0.71
3       0.00
4       0.00
        ...
4596    0.62
4597    0.00
4598    0.30
4599    0.00
4600    0.65
Name: 2, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 3, Length: 4601, dtype: float64
0       0.32
1       0.14
2       1.23
3       0.63
4       0.63
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.32
4600    0.00
Name: 4, Length: 4601, dtype: float64
0       0.00
1       0.28
2       0.19
3       0.00
4       0.00
        ...
4596    0.31
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 5, Length: 4601, dtype: float64
0       0.00
1       0.21
2       0.19
3       0.31
4       0.31
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 6, Length: 4601, dtype: float64
0       0.00
1       0.07
2       0.12
3       0.63
4       0.63
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 7, Length: 4601, dtype: float64
0       0.00
1       0.00
2       0.64
3       0.31
4       0.31
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 8, Length: 4601, dtype: float64
0       0.00
1       0.94
2       0.25
3       0.63
4       0.63
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 9, Length: 4601, dtype: float64
0       0.00
1       0.21
2       0.38
3       0.31
4       0.31
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 10, Length: 4601, dtype: float64
0       0.64
1       0.79
2       0.45
3       0.31
4       0.31
        ...
4596    1.88
4597    0.00
4598    1.80
4599    0.32
4600    0.00
Name: 11, Length: 4601, dtype: float64
0       0.00
1       0.65
2       0.12
3       0.31
4       0.31
        ...
4596    0.00
4597    0.00
4598    0.30
4599    0.00
4600    0.65
Name: 12, Length: 4601, dtype: float64
0       0.00
1       0.21
2       0.00
3       0.00
4       0.00
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 13, Length: 4601, dtype: float64
0       0.00
1       0.14
2       1.75
3       0.00
4       0.00
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 14, Length: 4601, dtype: float64
0       0.32
1       0.14
2       0.06
3       0.31
4       0.31
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 15, Length: 4601, dtype: float64
0       0.00
1       0.07
2       0.06
3       0.00
4       0.00
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 16, Length: 4601, dtype: float64
0       1.29
1       0.28
2       1.03
3       0.00
4       0.00
        ...
4596    0.00
4597    0.00
4598    0.90
4599    0.00
4600    0.00
Name: 17, Length: 4601, dtype: float64
0       1.93
1       3.47
2       1.36
3       3.18
4       3.18
        ...
4596    0.62
4597    6.00
4598    1.50
4599    1.93
4600    4.60
Name: 18, Length: 4601, dtype: float64
0       0.00
1       0.00
2       0.32
3       0.00
4       0.00
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 19, Length: 4601, dtype: float64
0       0.96
1       1.59
2       0.51
3       0.31
4       0.31
        ...
4596    0.00
4597    2.00
4598    0.30
4599    0.32
4600    0.65
Name: 20, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 21, Length: 4601, dtype: float64
0       0.00
1       0.43
2       1.16
3       0.00
4       0.00
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 22, Length: 4601, dtype: float64
0       0.00
1       0.43
2       0.06
3       0.00
4       0.00
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 23, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 24, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 25, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 26, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 27, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 28, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 29, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 30, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 31, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 32, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 33, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 34, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 35, Length: 4601, dtype: float64
0       0.00
1       0.07
2       0.00
3       0.00
4       0.00
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 36, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 37, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 38, Length: 4601, dtype: float64
0       0.00
1       0.00
2       0.06
3       0.00
4       0.00
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 39, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 40, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 41, Length: 4601, dtype: float64
0       0.00
1       0.00
2       0.12
3       0.00
4       0.00
        ...
4596    0.00
4597    0.00
4598    0.00
4599    0.00
4600    0.00
Name: 42, Length: 4601, dtype: float64
0       0.00
1       0.00
2       0.00
3       0.00
4       0.00
        ...
4596    0.31
4597    0.00
4598    0.00
4599    0.32
4600    0.00
Name: 43, Length: 4601, dtype: float64
0       0.00
1       0.00
2       0.06
3       0.00
4       0.00
        ...
4596    0.31
4597    0.00
4598    0.00
4599    0.00
4600    1.97
Name: 44, Length: 4601, dtype: float64
0       0.00
1       0.00
2       0.06
3       0.00
4       0.00
        ...
4596    0.31
4597    2.00
4598    1.20
4599    0.32
4600    0.65
Name: 45, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 46, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 47, Length: 4601, dtype: float64
0       0.000
1       0.000
2       0.010
3       0.000
4       0.000
        ...
4596    0.000
4597    0.000
4598    0.102
4599    0.000
4600    0.000
Name: 48, Length: 4601, dtype: float64
0       0.000
1       0.132
2       0.143
3       0.137
4       0.135
        ...
4596    0.232
4597    0.000
4598    0.718
4599    0.057
4600    0.000
Name: 49, Length: 4601, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4596    0.0
4597    0.0
4598    0.0
4599    0.0
4600    0.0
Name: 50, Length: 4601, dtype: float64
0       0.778
1       0.372
2       0.276
3       0.137
4       0.135
        ...
4596    0.000
4597    0.353
4598    0.000
4599    0.000
4600    0.125
Name: 51, Length: 4601, dtype: float64
0       0.000
1       0.180
2       0.184
3       0.000
4       0.000
        ...
4596    0.000
4597    0.000
4598    0.000
4599    0.000
4600    0.000
Name: 52, Length: 4601, dtype: float64
0       0.000
1       0.048
2       0.010
3       0.000
4       0.000
        ...
4596    0.000
4597    0.000
4598    0.000
4599    0.000
4600    0.000
Name: 53, Length: 4601, dtype: float64
0       3.756
1       5.114
2       9.821
3       3.537
4       3.537
        ...
4596    1.142
4597    1.555
4598    1.404
4599    1.147
4600    1.250
Name: 54, Length: 4601, dtype: float64
0        61
1       101
2       485
3        40
4        40
       ...
4596      3
4597      4
4598      6
4599      5
4600      5
Name: 55, Length: 4601, dtype: int64
0        278
1       1028
2       2259
3        191
4        191
        ...
4596      88
4597      14
4598     118
4599      78
4600      40
Name: 56, Length: 4601, dtype: int64

In [166]:
# Calculate the mean, stdev and count for each column in a dataset
def summarize(input):
    summary = []
    for col in input:
        if col!=57:
            summary.append([mean(input[col]), std_deviation(input[col]), len(input[col])])
            
            
#             summary = [mean(data[col]), std_deviation(data[col]), len(data[col])]
#     del(summary[-1])
    
    return summary

summarize(spam)

[[0.15233866519580802, 0.3106449213186067, 1813],
 [0.1646497517926091, 0.34891894112994526, 1813],
 [0.4037948152233862, 0.48072533707742215, 1813],
 [0.1646718146718147, 2.2190871939750973, 1813],
 [0.513954771097628, 0.7071949471803832, 1813],
 [0.17487589630446765, 0.32192705585545006, 1813],
 [0.2754054054054052, 0.5721103738058171, 1813],
 [0.20814120242691672, 0.5448638547632518, 1813],
 [0.17006067291781576, 0.3548042190340505, 1813],
 [0.3505074462217324, 0.6313844476407892, 1813],
 [0.11843353557639259, 0.2509603532809419, 1813],
 [0.549972421400992, 0.6410771920185775, 1813],
 [0.14354660783232204, 0.3503841279905524, 1813],
 [0.0835741864313293, 0.3188661611668238, 1813],
 [0.11207942636514077, 0.38713205172918214, 1813],
 [0.5183618312189744, 1.0131698543551915, 1813],
 [0.2875068946497517, 0.6262698055117387, 1813],
 [0.3192277992277995, 0.6661193333711221, 1813],
 [2.2645394373965773, 1.5668851605008216, 1813],
 [0.20552123552123533, 0.7883917154101864, 1813],
 [1.3803695532266982, 1.227385152052385, 1813],
 [0.23803640375068946, 1.4407360704593142, 1813],
 [0.24705460562603426, 0.5191555120501757, 1813],
 [0.21287920573634847, 0.6005942469993613, 1813],
 [0.01747931605074462, 0.16070069472801657, 1813],
 [0.009172642029784886, 0.09939041288708741, 1813],
 [0.0015499172642029788, 0.033396282166144604, 1813],
 [0.01879757308328737, 0.304671663741908, 1813],
 [0.0006839492553778268, 0.01264544309994277, 1813],
 [0.005968008825151681, 0.10329298367800253, 1813],
 [0.001274131274131274, 0.03569830627715964, 1813],
 [0.0005184776613348041, 0.015606089103528113, 1813],
 [0.014561500275785984, 0.11212077706385927, 1813],
 [0.0017760617760617765, 0.035973385743252574, 1813],
 [0.00692774407060121, 0.06590341591099763, 1813],
 [0.02951461665747381, 0.14766836251696885, 1813],
 [0.043469387755102035, 0.26842529673787285, 1813],
 [0.004710424710424711, 0.0503057592242979, 1813],
 [0.012426916712630997, 0.08953683114563858, 1813],
 [0.03671814671814671, 0.15205939674880328, 1813],
 [5.515719801434087e-05, 0.002348556961505091, 1813],
 [0.002443463872035301, 0.0274734012951335, 1813],
 [0.008450082735797022, 0.05024303369769391, 1813],
 [0.006243794815223386, 0.061173766554870015, 1813],
 [0.12509100937672385, 0.3227699086007746, 1813],
 [0.014726971869829011, 0.13392155674692807, 1813],
 [0.0012189740761169336, 0.018509678681899528, 1813],
 [0.002101489244346387, 0.026821021190338735, 1813],
 [0.020573083287369006, 0.09162068955273939, 1813],
 [0.10897021511307209, 0.2821413822855877, 1813],
 [0.008198565912851629, 0.04744922065733743, 1813],
 [0.5137126309983446, 0.7441825201006598, 1813],
 [0.1744782129067844, 0.3604787030580215, 1813],
 [0.07887699944842802, 0.6119409218349161, 1813],
 [9.519164920022058, 49.846185789611326, 1813],
 [104.39327082184225, 299.2849688903533, 1813],
 [470.61941533370106, 825.0811791609467, 1813]]

In [167]:
# Gaussian probability density distribution 
def get_gaussian_prob(x, mean, stddev):
#     print((1 / (sqrt(2 * pi) * stddev)) * ( exp(-((x-mean)**2 / (2 * stddev**2 ))) ))
#     print( -( (x-mean)**2 / (2 * stddev**2) ) ) 
    return (1 / (sqrt(2 * pi) * stddev)) * ( exp( -( (x-mean)**2 / (2 * stddev**2) ) ) )

get_gaussian_prob(0.3, 5.515719801434087e-05, 0.002348556961505091)

0.0

In [174]:
# multiply gausian prob of each row in summary by total # of elts in category/total_rows
def get_prob_for_class(rowIdx):
    total_rows = 4601
    prob = dict()
    
    prob[0] = len(not_spam)/total_rows
    prob[1] = len(spam)/total_rows
    
    not_spam_smmry = summarize(not_spam)
    spam_smmry = summarize(spam)
    
    count = 0
    for x in range(len(spam_smmry)):
        mean, stddev, _ = spam_smmry[x]
#         print("SPAM = ", spam[0][count], mean, stddev)
        gaus_prob = get_gaussian_prob(spam[rowIdx][count], mean, stddev)
        prob[1] *= gaus_prob
#         print(count, " PROB 1 ", prob[1])
#         print()
        count+=1
    
    count = 1813
    for x in range(len(not_spam_smmry)):
        mean, stddev, _ = not_spam_smmry[x]
        prob[0] *= get_gaussian_prob(not_spam[rowIdx][count], mean, stddev)
        count+=1

    return prob

In [175]:
# Predict the class for a given row
def predict(summaries, rowIdx):
    probabilities = get_prob_for_class(rowIdx)
    best_label, best_prob = None, -1
    for class_value, probability in probabilities.items():
        if best_label is None or probability > best_prob:
            best_prob = probability
            best_label = class_value
    return best_label

In [176]:
#predict
model = summarize(data)
print(model)

[[0.10455335796565962, 0.3053575620234765, 4601], [0.21301456205172783, 1.290575190945365, 4601], [0.2806563790480323, 0.5041428838471751, 4601], [0.06542490762877635, 1.3951513704927585, 4601], [0.3122234296891974, 0.6725127692846654, 4601], [0.09590089111062813, 0.273824083009814, 4601], [0.11420778091719185, 0.39144135475059055, 4601], [0.10529450119539223, 0.40107145247361387, 4601], [0.0900673766572484, 0.27861586424185475, 4601], [0.23941317104977197, 0.6447553994517325, 4601], [0.05982395131493154, 0.20154466405444324, 4601], [0.5417018039556623, 0.8616984712807816, 4601], [0.09392958052597254, 0.3010358035849348, 4601], [0.058626385568354686, 0.3351838297557633, 4601], [0.04920452075635739, 0.2588434513226294, 4601], [0.24884807650510785, 0.825791701128899, 4601], [0.14258639426211697, 0.44405532898213196, 4601], [0.18474462073462303, 0.5311224220070001, 4601], [1.6620995435774817, 1.7754806647661487, 4601], [0.08557704846772435, 0.5097668889532889, 4601], [0.8097609215387966, 1.2008098116265178, 4601], [0.12120191262768967, 1.0257555914313832, 4601], [0.10164529450119543, 0.35028641855801296, 4601], [0.0942686372527711, 0.4426355267683524, 4601], [0.5495044555531406, 1.6713493422823613, 4601], [0.2653836122582047, 0.8869553378203145, 4601], [0.767304933710063, 3.3672918024526606, 4601], [0.12484459900021724, 0.5385760440208041, 4601], [0.09891545316235598, 0.5933265997216176, 4601], [0.10285155400999778, 0.4566815529283778, 4601], [0.06475331449684846, 0.4033925009035417, 4601], [0.04704846772440773, 0.32855888168990294, 4601], [0.09722886329058895, 0.5559072037057607, 4601], [0.04783525320582481, 0.3294453306636256, 4601], [0.10541186698543797, 0.5322598753371446, 4601], [0.09747663551401871, 0.40262313907304403, 4601], [0.1369528363399261, 0.423451367456984, 4601], [0.013201477939578352, 0.22065078755805823, 4601], [0.0786285590089111, 0.4346720518434216, 4601], [0.06483373179743535, 0.3499159830230198, 4601], [0.04366659421864813, 0.3612047006517741, 4601], [0.13233862203868724, 0.766819438588455, 4601], [0.0460986742012606, 0.22381177612192932, 4601], [0.07919582699413176, 0.6219755735032897, 4601], [0.3012236470332536, 1.011687227279597, 4601], [0.1798239513149317, 0.9111190631640783, 4601], [0.005444468593783961, 0.07627427063724908, 4601], [0.03186915887850466, 0.2857346462966567, 4601], [0.038574657683112336, 0.2434713279276333, 4601], [0.13903042816778938, 0.2703553739143305, 4601], [0.01697587480982397, 0.10939416398282649, 4601], [0.26907085416213833, 0.8156716310876558, 4601], [0.07581069332753756, 0.24588201134489382, 4601], [0.04423820908498153, 0.42934208792226897, 4601], [5.19151510541188, 31.729448740210845, 4601], [52.17278852423386, 194.89130952646204, 4601], [283.28928493805694, 606.3478507248471, 4601]]

In [177]:
#predict label
label = predict(model, 0)
label

0