In [1]:
# open the file
import pandas as pd
data = pd.read_csv('hw4.csv')

data

   company  year/quarter revenue  earnings  dividents
0      ibm        202003  17,560      1.89       1.63
1      ibm        202002  18,123      1.52       1.63
2      ibm        202001   17571      1.31       1.62
3      ibm        201904   21776      4.11       1.62
4      ibm        201903   18028      1.87       1.62
..     ...           ...     ...       ...        ...
58      GE        201903   23360      1.08       0.01
59      GE        201902   23414      0.01       0.03
60      GE        201901   22202      0.41       0.01
61      GE        201804   16670      0.07       0.14
62      GE        201803   23392      2.62       0.12

[63 rows x 5 columns]

In [ ]:
# build linear [y = a+bx ], 
# logarithmic [y = a+b*log(x) ], 
# exponential [ y=b*exp(a*x) ], and 
# power curve [ y=b*x^a ] 

# create model class

In [ ]:
# train model for each company

In [ ]:
# predict model on last val

In [ ]:
# analyze r^2 rate

In [ ]:
# talk abt which algo works best with which company (highest r^2 #)

In [ ]:
# use best algo for each company, give error rate for each company