In [55]:
# open the file
import pandas as pd
import numpy as np

data = pd.read_csv('hw4.csv')
data

   company  year/quarter  revenue  earnings  dividents
0      ibm      202003.0  17560.0      1.89       1.63
1      ibm      202002.0  18123.0      1.52       1.63
2      ibm      202001.0  17571.0      1.31       1.62
3      ibm      201904.0  21776.0      4.11       1.62
4      ibm      201903.0  18028.0      1.87       1.62
..     ...           ...      ...       ...        ...
58      GE      201903.0  23360.0      1.08       0.01
59      GE      201902.0  23414.0      0.01       0.03
60      GE      201901.0  22202.0      0.41       0.01
61      GE      201804.0  16670.0      0.07       0.14
62      GE      201803.0  23392.0      2.62       0.12

[63 rows x 5 columns]

In [52]:
# x = data[["company","revenue"]].iloc[0:9]
x = list(data["revenue"].iloc[1:9].astype(int).to_numpy())
y =list(data['year/quarter'].iloc[1:9].astype(int).to_numpy())

# x = np.arange(0,10)
x

[18123, 17571, 21776, 18028, 19161, 18182, 21760, 18756]

In [53]:
# parse through dataframe to get data you need

# test

# beta coefficient formula
numerator = np.sum((x-np.mean(x))*(y-np.mean(y)))
denominator = np.sum((x-np.mean(x)) ** 2)

b1 = numerator/denominator

b1

-0.024014098202866554

In [54]:
# bias coefficient (intercept, moves line up or down)
b0 = np.mean(y)-(b1*np.mean(x))

b0

202362.84125726213

In [57]:
def linear_predict(x):
    return b0+b1*x

# predict current quarter
currQ = linear_predict(data.iloc[0,2])

currQ

201941.1536928198

In [ ]:
# build linear [y = a+bx ], 
# logarithmic [y = a+b*log(x) ], 
# exponential [ y=b*exp(a*x) ], and 
# power curve [ y=b*x^a ] 

# create model class

In [ ]:
# train model for each company

In [ ]:
# predict model on last val

In [ ]:
# analyze r^2 rate

In [ ]:
# talk abt which algo works best with which company (highest r^2 #)

In [ ]:
# use best algo for each company, give error rate for each company